@use "../../variables" as v;
@font-face {
  font-family: "UTM";
  src: url("../assets/UTM-Hanzel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.modal-game {
  width: v.$modal-w;
  height: v.$modal-h;
  font-family: "UTM", sans-serif;
}

.rotating-image {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Bắt đầu từ 0 độ */
  }
  to {
    transform: rotate(360deg); /* Xoay 360 độ */
  }
}

.shaking-image {
  animation: swing 2.5s ease-in-out infinite; /* Hiệu ứng lắc lư */
  transform-origin: top center;
}
@keyframes swing {
  0% {
    transform: rotate(15deg); /* Vị trí ban đầu */
  }
  75% {
    transform: rotate(30deg); /* Lắc sang phải */
  }
  100% {
    transform: rotate(15deg); /* Trở về giữa */
  }
}

.scaling-rotate-image {
  transform-origin: bottom center;
  animation: grow-shrink 3s ease-in-out infinite; /* Lặp vô hạn */
}

@keyframes grow-shrink {
  0% {
    transform: scale(1) rotate(0deg); /* Kích thước ban đầu */
  }
  25% {
    transform: scale(1.02) rotate(2deg); /* Phóng to lên 1.5 lần */
  }
  100% {
    transform: scale(1) rotate(0deg); /* Quay về kích thước ban đầu */
  }
}

.scaling-image {
  animation: scaling 3s ease-in-out infinite; /* Lặp vô hạn */
}

@keyframes scaling {
  0% {
    transform: scale(1) rotate(0deg); /* Kích thước ban đầu */
  }
  25% {
    transform: scale(1.2) rotate(2deg); /* Phóng to lên 1.5 lần */
  }
  100% {
    transform: scale(1) rotate(0deg); /* Quay về kích thước ban đầu */
  }
}

.closeIcon:hover,
.iIcon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.dimed {
  opacity: 0.5;
  transform: scale(0.6);
}

.betIcon:hover {
  cursor: pointer;
}

.selectedBet {
  transform: scale(1.4);
}

.aura-img {
  animation: spin 3s linear infinite;
}
.note-text {
  position: absolute;
  top: 36px;
  left: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: lighter;
  color: whitesmoke;
}

.win {
  position: absolute;
  opacity: 0;
  top: -400px;
  left: -160px;
  animation: win-effect 4s forwards;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
